.wrapper { 
  width: 960px; 
  margin: 0 auto; 
}

body{
  padding-top: 40px;
  font-family:"Alegreya Sans", sans-serif;
}

ul{ 
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h1{
  font-size: 34px;
  color:#2E93BE;
  text-align:left;
  line-height: 40px;
  letter-spacing: 2px;
}

h2{
  font-size: 18px;
  color:#fff;
  text-align: left;
  line-height: 25px;
  font-weight: 200;
}

h4{
  font-size: 25px;
  text-align:center;
  color:#333;
  letter-spacing: 1px;
}

h5{
  font-size: 50px;
  text-align:center;
  color: #2D92BE ;
}

.product p {
  font-size: 15px;
  text-align:left;
  line-height: 22px;
  letter-spacing: 1px;
}

.mission.box p {
  padding: 0px;
  font-size: 22px;
  color:#333;
  text-align:left;
  line-height: 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

a {
  font-family:"Alegreya Sans", sans-serif;
  font-size: 17px;
}

blockquote {
  font-family:"Roboto Slab", sans-serif;
}

/*CLASSES/////////////////////////////////*/
*{
 margin:0;
 padding:0;
}



/*Logo*/
.logo a img{
  float: left;
  max-height: 100px;
  max-width: 350px;
  padding-right: 60px;
  margin-bottom: 25px;
}

/*Menu*/

.line {
  background-image: url('../images/lines.png');
  height: 17px;
}

/*Content*/
.content{
  padding-top: 30px;
}

.box {
  height: 350px;
}

.box h4{
  padding-top: 20px;
  padding-bottom: 20px;
}

.box p{
  padding: 20px;
}

.box.mission{
  border: none;
}

.box.mission h1{
  margin: 0px;
  margin-bottom: 20px;
}

.borderbox{
  border: 1px solid #666;
}

nav.menu{
  padding: 0px;
}

.nav{
  padding-top: 50px;
}

.nav.nav-pills li{
  border-bottom: 1px solid #666; 
  margin-left: 30px;
}

.nav-pills li a{
  padding: 0px;
  line-height: 32px;
  color: #666;
  text-align: left;
  width: 120px;
}

.nav-pills li a:hover{
  color:#2E93BE;
  background-color: #fff;
}

/*Footer*/

footer {
  padding-top: 10px;
  background-color: #424242;
}

